# IDEA
/.idea/
!/.idea/runConfigurations/
/gradle/plugins/.idea/

# Gradle
.gradle/
/build/
/gradle/plugins/build/
/modules/*/build/
/modules/*/*/build/
/modules/*/*/*/build/
/modules/**/src/*/screenshotTest/reference/

# Android
local.properties

# Other
/temp/
